# mettre un exemple pour chaque type de champs
blog:
  is_open:
    type: yes_no
    default: false
    options:
      label: Blog activé?
  title:
    type: text
    default: My blog title
    options:
      label: Titre du blog
  description:
    type: textarea
    options:
      label: Description du blog
  theme:
    type: choice
    default: {}
    options:
      choices:
        0: Default
        1: Custom
        2: Other